# Python
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
**/*log.txt
#test files
test/
data/*.filter
data/*.ruthlessfilter
data/cache
data/debug


# Virtual env
.venv/

# Environment variables
**/.env

# Data (cache, output, logs)
# data/cache/
# data/out/*.csv
**/*.log

# Jupyter
**/.ipynb_checkpoints/
